.content {
  margin-top: 3%;
  margin-left: 5%;
}

.footer {
  border: 1px solid black;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 74%;
  text-align: center;
}
.notes_footer{
  margin-left: 5%;
  margin-right: 74%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-right: 1.0em;
}
