.content {
  margin: 5%;
}

.footer {
  padding: .5em;
  border: 1px solid black;
  margin: 5%; width: 18%;
  text-align: center;
}

.notes_footer{
  margin-left: 5%;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}
