{% extends "base.html" %}
{% block title %}
<title>AddDates</title>
{% endblock %}

{% block head %}
  {{super()}}
  <h1>Add date, city, and state </h1>
{% endblock %}

{% block content %}
  <form name="formDates" method="post" onsubmit="required()">
    <dl>
      <dt>Enter date:</dt>
        <dd><input type="date" name="date_game" value="{{ date_game }}" size="20"></dd>
      <dt>Enter City:</dt>
        <dd><input type="text" name="city" value="{{ city }}" size="20"></dd>
      <dt>Enter State: (e.g. MN)</dt>
        <dd><input type="text" name="state" value="{{ state }}" size="2" max="2"></dd>
        <br>
        <dd><input type="submit" name="save" value="Save"></dd>
        <dd><input type="submit" name="cancel" value="Cancel"></dd>
    </dl>
  </form>

{% endblock %}
