{% extends "base.html" %}
{% block title %}Add items{% endblock %}
{% block body_title%}{% endblock %}
{% block content %}
<h1>Add new items to database, item name and price.</h1>
  <form method=post>
    <div class="form-group">
      <label for="ItemName">Item name:</label>
      <input type="text" class="form-control" aria-describedby="nameHelp" placeholder="name">
    </div>
    <div class="form-group">
      <label for="Price">Item price:</label>
      <input type="float" class="form-control" placeholder="price 0.00">
    </div>
    <button type="submit" name="Submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
