<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type=text/javascript
src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    {% endblock %}

    {% block title %}
      {% if title %}
        <title>{{ title }}</title>
      {% else %}
          <title>Welcome</title>
          <a href="{{ url_for('base') }}"></a>
          <div id="baseDisplay" class="box">
            <h1>Welcome</h1>
            <h2>This is the Sports Team database</h2>
            <hr>
          </div>
      {% endif %}
    {% endblock %}
  </head>


  <body>
    {% block msg %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
            {% for message in messages %}
            <li>{{ message|safe }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    {% endblock %}

    {% block content %}   {% endblock %}
    <style media="screen">
    table, tr {
      border: 1px dotted black
    }
    </style>

  </body>

  <footer>
    <div class="footer">
      {% block footer %}
        <ul>
          <h3><a href="{{ url_for('home') }}">Go to home page</a></h3>
        </ul>
      {% endblock %}
    </div>
  </footer>
</html>
