{% extends "layout.html" %}
{% block title %}ShowDates{% endblock %}

{% block tableItems %}{% endblock %}

{% block content %}
  <table>
    <caption><h3>Table of game's dates!</h3></caption>
    <tr>
      <th>Index</th>
      <th>Date</th>
      <th>City</th>
      <th>State</th>
    </tr>
    {% for element in _dates %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ element.game_date|dateformat }}</td>
        <td>{{ element.city }}</td>
        <td>{{ element.state }}</td>
        <td><a href="{{ element.url }}">edit</a> </td>
      </tr>
    {% endfor %}
  </table>
  <h3>
    Add more dates?  <a href="{{ url_for('addDates') }}">Link</a>
  </h3>
{% endblock %}
{% block footer %}
<a href="{{ url_for('index') }}">Go back to home page.</a>
{% endblock %}
