{% extends "home.html" %}
{% block title %}<title>Home/displayRecords</title>{% endblock %}

{% block body %}
  <table>
      <tr>
        <th>No.</th>
        <th>ItemName</th>
        <th>Date</th>
        <th>City</th>
        <th>State</th>
        <th>QtySold</th>
        <th>Price/Unit</th>
        <th>Total</th>
      </tr>
      {% for row in itemsSold %}
      <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.merchandise_items.name}}</td>
        <td> <a href="{{ row.url }}">{{ row.games_schedules.game_date }}</a></td>
        <td>{{ row.games_schedules.city }}</td>
        <td>{{ row.games_schedules.state }}</td>
        <td>{{ row.quantity_sold }}</td>
        <td>{{ '$ '|safe }} {{ row.price_per_unit }}</td>
        <td> {{ '$ '|safe }}{{ row.quantity_sold * row.price_per_unit }}</td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}
