{% extends "layout.html" %}
{% block title %}EditSoldRecord{% endblock %}

{% block content %}
  <h3>This page is to edit the row for date selected.</h3>
  <p>You can only edit the quantity and price.</p>

  <form action="{{ modifySold.url }}" method="post">
    <dd>
      Game Date: {{ form['_date']|dateformat }}
      <br>
      Item name: {{ form['name'] }}
      <dl>
        <dt><sub>Enter new quantity sold/old is in box:</sub></dt>
        <input type="number" name="quantity" value="{{ form['qty'] }}" min="0" max="500" required placeholder="0"><br>
        <dt><sub>Enter new price/old is in box:</sub></dt>
        <input type="text" name="price" value="{{ form['price'] }}" min="0" required placeholder="0.00">
      </dl>
      <br>
      <input type="submit" name="save" value="Save">
      <input type="submit" name="cancel" value="Cancel">
    </dd>
  </form>
{% endblock %}
{% block footer %}
<a href="{{ url_for('index') }}">Go back to home page.</a>
{% endblock %}
