{% extends "layout.html" %}

{% block title %}Edit/Schedules{% endblock %}

{% block content %}
  <h4>You have the choice to edit or delete the selected date.</h4>
  <p>Warning!!!</p>
  <p>Deleting the game's date will delete rows that have this date in Sold Records.</p>
  <form method="post">
    <dd>
      Date: {{ sched.game_date|dateformat }}<br>
      <input type="date" name="date" value="{{ form['_date'] }}">
      <br><br>
      City: {{ sched.city }}<br>
      <input type="text" name="city" value="{{ form['city'] }}" placeholder="{{ sched.city }}">
      <br><br>
      State: {{ sched.state }}<br>
      <input type="text" name="state" value="{{ form['state'] }}" placeholder="{{ sched.state }}">
      <br>

      <br>
      <input type="submit" name="delete" value="Delete">
      <input type="submit" name="uddate" value="Update">
      <input type="submit" name="cancel" value="Cancel">
    </dd>
  </form>
{% endblock %}
{% block footer %}
<a href="{{ url_for('index') }}">Go back to home page.</a>
{% endblock %}
