{% extends "base.html" %}

{% block title %}
  <h2>This is the home page!</h2>
{% endblock %}

{% block content %}
  <!-- <style media="screen">
    table, tr {
      border: 1px dotted black
    }
  </style> -->
  {% if items|length() == 0 %}
      <p>No items in the database yet! <br>
         Do you want to add some? <br>
         "Click on the Add an Item"
      </p>
  {% endif %}

  <div class="tables">
    <table>
      <tbody>
        {% for row in items %}
        <tr>
          <td>{{ row }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="">
    <h2>Select from below</h2>
    <ul>
      <li><a href="{{ url_for('addItems') }}"> Add an Item </a></li>
      <li><a href="{{ url_for('editItems') }}"> Edit/delete Items </a></li>
      <li><a href="{{ url_for('show_dates') }}">Show games dates </a></li>
      <li><a href="{{ url_for('addDates') }}"> Add Dates for Games </a></li>
    </ul>
  </div>
{% endblock %}

{% block footer %}{% endblock %}
